body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}

h1,
h2,
h3,
h4,
h5.h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* #region header */
.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header-page .header-conteiner{
       display: flex;
       justify-content: space-between;
   }
   
   .header-conteiner{
       display: flex;
       margin-left: auto;
       margin-right: auto;
       border-bottom: 1px solid #e7e9fc;
       width: 1158px;
       padding: 0 15px;
   }
   
   
   .nav-list{
       display: flex;
       gap: 40px;
       margin-right: 76px;
   }
   
   .nav-page{
       display: flex;
       align-items: center;
   }
   
   .nav-item{
       position: relative;
       color: #2e2f42;
   }

   .nav-item-link::after{
       content: '' ;
       width: 100%;
       position: absolute; 
       left: 0; 
       bottom: -1px;
       height: 4px;
       background-color: #404bbf; 
       border-radius: 2px; 
   }

   .nav-item-link {
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       display: block;
       padding: 24px 0;
       position: relative;
       color: #404bbf;
       transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   }

   .nav-item-link:hover,
   .nav-item-link:focus {
       color: #404bbf;
   }
   
   .logo {
       font-family: "Raleway", sans-serif;
       font-weight: 700;
       font-size: 18px;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: #4d5ae5;
       margin-right: 76px;
   }
   
   .logo-studio {
       color: #2e2f42;
   }
   
   .address-list {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       display: block;
       padding-top: 24px;
       transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   }
   
   .address-list:hover,
   .address-list:focus {
       color: #404bbf;
   }
   
   .address {
       font-style: normal;
   }
   
   .address-ul{
       display: flex;
       gap: 40px;
   }
   

/* #endregion header */

/* #region section 1 */

.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/po.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;  
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.effect-sol {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 44px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background: #404bbf;
}

/* #endregion section 1*/

/* #region section 2 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two {
    padding: 120px 0;
}

.list-feature {
    flex-basis: calc((100% - 72px) / 4)
}

.list-two {
    display: flex;
    gap: 24px;
    ;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 0%;
    flex-basis: calc((100% - 72px) / 4)
}


.sec-two-logo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-sec-two {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.icons-twosection{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px; 

}
/* #endregion section 2 */

/* #region section three */


.our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.sec-list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.section-three {
    background: #f4f4fd;
    padding: 120px 0;
}

.our-team-list {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    padding-left: 0;
}

.text-list-three {
    padding: 32px 0;
    text-align: center;
}


.name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px
}

.about-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    /* text-align: center; */
}

.list-icons{
    display:flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 232px;
}

.a-svg:hover,
.a-svg:focus{
    background-color: #404bbf;
}

.icons-svg{
    fill: #f4f4fd;
}



.a-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* #endregion section three*/

/*  #region section 4*/

.ourpor-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
}

.our-portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.h-four {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-four {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;

}

.list-four:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.overlay-text{
    position: absolute;
    overflow: hidden;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 

.div-fourlist{
    position: relative;
    overflow: hidden;
}

.list-four:hover .overlay-text{
    transform: translateY(0);
   
}
 

.div-list-four {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
}

.ourpor-section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* #endregion section 4*/

/* #region footer */
.footer {
    background: #2e2f42;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 8px;
    max-width: 264px
}

footer .logo-studio {
    color: #f4f4fd;
}

.footer-conteiner {
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: baseline;
}

.logo-paragraf{
    margin-right: 120px;
}

.paragraf{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}



.footer-link{
    display: flex;
    gap: 16px;
    padding-left: 0;
}

.footer-icons{
    width: 40px;
    height: 40px;
}

.footer-svg:hover,
.footer-svg:focus{
    background-color: #31d0aa; 
}

.footer-svg{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.div-subscribe{
    margin-left: 80px;
}

.form-footer{
    display: flex; 
    gap: 24px;
}


.input-mail{
    background:#2e2f42;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2; 
    letter-spacing: 0.04em;
    color: #ffffff; 


}

.input-mail::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff; 
}

.button-footer{
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    display: flex;
    gap: 16px;
    justify-content: center; 
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #4d5ae5;
    border: none;
    margin-left: 24px;
}

.svg-icon-footer{
    margin-left: 16px; 
}

.div-button{
    display: flex;
    gap: 16px;
    flex-direction: row;
  
}


/* #endregion footer */


.backdrop{
    position: fixed;
    top:0;
    left:0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility:hidden ;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility:visible;
} 


.modal{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px; 
}


.model-close{
    position: fixed;
    right: 24px;
    position: absolute; 
    border:none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.model-close:hover,
.model-close:focus{
    background-color: #404bbf;
    border: none; 
    fill: #ffffff
}

.svg-modal-button{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-footer{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 56px;
    margin-bottom: 16px; 
}

.form{
    padding-top: 16px;
    gap:24px;
}


.from-wrrap-cont{
    padding-top: 8px;
    margin-bottom: 8px;
}



.label{
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
}

.input-cont{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    background-color: transparent;
    outline: transparent;
}


.input-cont:focus{
    border: 1px solid #4d5ae5;
}

.form-user-icon-wrapper{
    position: relative;
}
.form-user-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    color: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-cont:focus+.form-user-icon{
    fill: #4D5AE5;
}

.form-comment{
    width: 100%;
    min-height: 120px;
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: none;
padding: 8px 16px;
}

.form-comment::placeholder{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus{
    border: 1px solid #4d5ae5
}
.input-checkbox:checked+ .label-checkbox .castome-chackbox {
    border: transparent;
    background-color: #4d5ae5;
    fill: #fff;

}

.blue{
    line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
   color: #4d5ae5;
}

.div-chackbox{
    padding-top: 16px;
    margin-bottom: 24px;
}

.castome-chackbox{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width:16px;
    height:16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
}

.label-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
}

.form-button{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border: none;
border-radius: 4px;
padding: 16px 32px; 
min-width:169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}

